.spacer {
  background-color: rgb(58, 48, 80);
  height: 80px;
  padding: 10px;
  justify-content: center;
  color: white;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.research_card {
  display: flex;
  width: 90%;
  max-width: 100%;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2); left + bottom shadow */
  margin: 24px auto; /* Increased vertical margin for more gap between cards */
  border: 1px solid #e2e1e1;
}

/* Image takes 1/4 width */
.card_image {
    flex: 1;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures it fills nicely */
  display: block;
}

/* Content takes 3/4 width */
.card_content {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card_title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 5px;
  text-align: left;
  color: #222;
}

.card_description {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 5px;
  text-align: start;
}

.card_link {
    color:rgb(24, 24, 23); 
    text-align: start;
    margin-left: 5px;
}

.card_link:hover {
  text-decoration: underline;
}

/* 🔹 Responsive: Stack image on top for small screens */
@media (max-width: 768px) {
  .container {
    margin-left: 5px;
    margin-right: 5px;
  } 

  .research_card {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .card_image {
    flex: none;
    object-fit: cover;
    width: 100%;
    margin-bottom: 8px; /* Reduce gap between image and title */
  }

  .card_image img {
    height: 200px; /* keeps natural aspect ratio */
    width: 100%;
    
  }

  .card_content {
    flex: none;
    width: 100%;
    padding: 5px;
  }

  .card_description {
    margin-left: 5px;
    margin-right: 5px;
  }
}